body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilização para o resumo */
.resumo {
    margin-top: 30px;
    padding: 20px;
    background-color: #ddd; /* Alterando a cor de fundo para um tom mais escuro */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    line-height: 0.5; /* Defina o espaçamento entre as linhas aqui */
}

.resumo h3 {
    margin-top: 0;
    color: #333;
}

.resumo p {
    margin-bottom: 10px; /* Adicionando margem inferior */
}

.resumo strong {
    font-weight: bold;
}